h1 {
text-transform: uppercase;
text-align: center;
font-weight: 100;
font-family: Georgia, 'Times New Roman', Times, serif;

}
input {
padding-bottom: 10px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 2px solid black;
}
.email {
margin-left: 20px;
}
.name, .email {
width: 235px;
}
.message {
margin-top: 20px;
width: 490px;
}
.cont {
width: 500px;
margin: 0 auto;
}
button {
width: 100px;
background: #000000;
color: #fefefe;
text-transform: uppercase;
margin-left: 200px;
margin-top: 20px;
padding: 5px 0px;
}