{% load static %}
<!DOCTYPE html>
<html>
	<head>
	<title>Get In Touch</title>
	<link href="{% static 'verstka/template2/style.css' %}" rel="stylesheet">
	</head>
	<body>
<form>
		<p class="link"><a href="https://www.google.com/">Get in touch</a></p>
		<p class="description">Please feel free to get in touch anytime, whether for worl inquiries or to just say hi@eduardonunes.me
I am currently accepting new freelance design projects, and willing to hear interesting proposals.<br></p>
		<p><input type="text" placeholder="Your Name"></p>
		<p><input type="email" placeholder="Your E-mail"></p>
		<p class="comment"><input type="text" placeholder="Your Message"></p>
		<p><button class="button">Send</button></p>
</form>

		
	</body>
</html>
