{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>MyPythonTutorial</title>
        <link rel='stylesheet' href="{% static 'styles.css' %}" />
    </head>
    <body>
        6. Создайте HTML страницу и css стиль все заголовки будут отображаться красным, параграфы зеленым, а ссылки цвета #aaa9ad.
        <h1>Andrei</h1>
        <h2>Andrei</h2>
        <h3>Andrei</h3>
        <h4>Andrei</h4>
        <h5>Andrei</h5>
        <h6>Andrei</h6>
        <a href="https://www.google.com/">Кликни</a>
        <p>Значимость этих проблем настолько очевидна, что курс на социально-ориентированный национальный проект способствует подготовке и реализации модели развития. Практический опыт показывает, что консультация с профессионалами из IT позволяет оценить значение системы обучения кадров, соответствующей насущным потребностям? Соображения высшего порядка, а также социально-экономическое развитие способствует повышению актуальности направлений прогрессивного развития!</p>
        <p>С другой стороны консультация с профессионалами из IT требует от нас системного анализа новых предложений. Задача организации, в особенности же рамки и место обучения кадров обеспечивает широкому кругу специалистов участие в формировании форм воздействия! С другой стороны новая модель организационной деятельности создаёт предпосылки качественно новых шагов для форм воздействия? Разнообразный и богатый опыт выбранный нами инновационный путь представляет собой интересный эксперимент проверки дальнейших направлений развития проекта!</p>
        <p>Не следует, однако, забывать о том, что курс на социально-ориентированный национальный проект обеспечивает широкому кругу специалистов участие в формировании ключевых компонентов планируемого обновления? Соображения высшего порядка, а также консультация с профессионалами из IT требует от нас анализа позиций, занимаемых участниками в отношении поставленных задач. Соображения высшего порядка, а также курс на социально-ориентированный национальный проект требует от нас анализа модели развития! Практический опыт показывает, что социально-экономическое развитие требует определения и уточнения направлений прогрессивного развития.</p>
    </body>
</html>